.container {
    overflow-y: scroll;
    width: calc(100vw - 320px);
    height: calc(100vh - 90px);

}

.padding {
    padding: var(--m-spacing);
}

.card {
    height: 100px;
    max-width: calc(50% - 16px) !important;
    background-color: var(--secondary);
    border-radius: 16px;
    margin: var(--xs-spacing) !important;
    font-size: var(--d-font-size);
}

.margin0 {
    margin: 0 !important;
}

.tour {
    background: var(--secondary);
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 10px;
    margin: var(--xxxxxl-spacing) 50px 0 ;
}

.see {
    font-size: var(--h4-font-size);
    font-weight: var(--semi-bold);
    color: var(--black80);
    padding-bottom: var(--m-spacing);
}

.take {
    font-size: var(--d-font-size);
    font-weight: var(--medium-bold);
    padding-bottom: var(--xl-spacing);
}

.shopStatusBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.shopStatusText {
    font-size: var(--m-font-size);
    margin-right: var(--s-spacing);
    color: var(--black);
}

.progress {
    width: 30px !important;
    height: 30px !important;
}

.topBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
    justify-content: space-between;
}

.spacer {
    width: 50px;
}

.shopName {
    font-size: var(--h3-font-size);
    text-transform: capitalize;
    color: var(--black);
    font-weight: var(--bold) !important;
    text-align: center;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.overviewContainer {
    /* padding: var(--m-spacing) 0; */
}

.noNewOrders {
    display: flex;
    flex-direction: column;
    margin: var(--s-spacing) 0;
    align-items: center;
}

.noNewOrders img {
    /* height: 120px; */
}

.paddingTop {
    padding-top: var(--m-spacing);
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.noContentHeading {
    margin-top: var(--m-spacing);
    margin-bottom: var(--m-spacing);
    color: var(--black);
    font-size: var(--h4-font-size);
    font-weight: var(--bold);
}

.productShare {
    margin-top: var(--l-spacing);
    font-size: var(--s-font-size);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.productShareIcon {
    margin-left: var(--s-spacing);
    cursor: pointer;
    height: 24px;
    width: 24px;
}

.createProductButton {
    background: var(--yellow);
    color: var(--black);
    font-size: var(--s-font-size);
    padding: var(--xs-spacing) var(--s-spacing);
    border-radius: var(--s-border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: var(--s-spacing);
    cursor: pointer;
    width: 110px;
    height: 30px;
}

.logo_icon {
    width: 36px;
    height: 36px;
}

.walletBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.walletBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: var(--m-font-size);
    padding: var(--xs-spacing) var(--m-spacing);
    cursor: pointer;
}

.walletBlock img {
    border-right: 1px solid var(--dark-grey);
    padding-right: var(--s-spacing);
}

.walletBlock .walletAmount {
    margin-left: var(--s-spacing);
}

.share {
    text-transform: capitalize !important;
    font-size: var(--m-font-size) !important;
    background-color: var(--primary) !important;
    color: var(--secondary) !important;
    padding: 6px 12px !important;
    margin-right: 8px !important;
}

.postInfo {
    font-size: var(--m-font-size);
    margin-top: 16px;
    margin-bottom: 8px;
}


.post {
    height: 120px;
    width: 33.3%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 1px solid var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button {
    height: 26px;
    font-size: var(--xs-font-size) !important;
    border-radius: 0 !important;
    max-height: 26px;
    text-transform: none !important;
    font-weight: var(--semi-bold);
}

.buttonContainer {
    width: 100%;
    border: 1px solid var(--white);
}

.spacing {
    margin-bottom: var(--xxxxxl-spacing);
}

.stepper {
    margin-top: var(--xxl-spacing);
    padding: 0 var(--m-spacing);
}


.upgradeAnalytics {
    width: 100%;
    min-height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 6px var(--black15);
    border-radius: var(--m-border-radius);
}

.upgradeAnalyticsText {
    font-size: var(--h2-font-size);
    font-weight: var(--semi-bold);
    margin-bottom: var(--l-spacing);
}

.upgradeAnalyticsButton {
    height: 45px !important;
    min-width: 135px !important;
    font-weight: var(--semi-bold) !important;
    font-size: var(--d-font-size) !important;
}

.tileClass {
    height: 120px !important;
}

.tileClass1 {
    height: 120px !important;
    padding: 0 !important;
    margin: 0 !important;
    background: transparent;
}

.cardSpacer {
    margin: var(--m-spacing) 0;
}

.line {
    width: 1px;
    height: 35vh;
    margin-top: 20px;
    background-color: #E0E0E0;
}

.line2 {
    width: 1px;
    margin-top: 26px;
}

.line1 {
    width: 1px;
    height: 15vh;
    margin-top: 26px !important;
    margin-left: 8px;
    margin-right: 8px;
    background-color: #E0E0E0;
}

.productsContainer {
    overflow: auto;
    background: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.productsContainer1 {
    background: var(--white);
}

.buttonContainer1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* margin-top: var(--l-spacing); */
}

.button1 {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: var(--d-font-size);
    font-weight: var(--semi-bold);
    color: var(--light-grey);
    margin-right: 8px;
    img {
        margin-left: var(--s-spacing);
    }
}

.tourImage {
    width: 322px;
    height: 182.85px;
}

.tourContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 70px;
}

.tourContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.dummyDesk {
    width:40%;
}

.expiryMain {
    height: 52px !important;
    background: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary) !important;
}

.subscribe {
    margin-left: var(--xs-spacing);
}

.buttonSecond {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--m-spacing);

}