.head1 {
    color: var(--black80);
}

.top  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.padded {
    padding: 0 var(--l-spacing);
}
.card {
    box-shadow: 0 3px 6px var(--black15);
    padding: var(--l-spacing) var(--l-spacing);
    color: var(--black);
    margin: var(--l-spacing) 0;
    background: var(--white);
    border-radius: var(--border-radius);
}


.flexbetween{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.flexEnd {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
}

.border{
    border-bottom: 1px solid rgba(33, 33, 33, 0.1);
    border-top: 1px solid rgba(33, 33, 33, 0.1);
    margin:12px 0;
    padding: 12px 0;
}


.spacer{
    margin:4px 0;
}

.box{
    background: #F4F4F4;
    border-radius: 5px;
    padding: 14px 12px 20px 12px;
}

.saveButton{
    border-radius: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 52px;
    margin-top: var(--m-spacing) !important;
    @media (--desktop) {
        position: absolute;
    }
}

.box2{
    background: #FFFFFF;
    border-radius: 5px;
}

.options{
    display: flex;
    padding: 16px 12px 20px 12px;
    border-bottom: 1px solid var(--black10);
    color: rgba(33, 33, 33, 0.6);
    font-size: 12px;
    font-weight: 500;
}

.marginLeft{
    margin-left: 16px;
}

.green{
    color: var(--green5);
    font-size: 14px;
}

.f12{
    font-size: 12px;
    font-weight: 500;
    color: rgba(33, 33, 33, 0.6);
}

.f14{
    font-size: 14px;
    color: rgba(33, 33, 33, 0.6);
}

.paddingTop {
    padding-top: 8px;
}

.grid {
    width: 70;
}

.noData{
    display: flex;
    justify-content: center;
    margin-top:140px;
}

.text{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--black50);
    margin-top: 12px;
    text-align: center;
}

.view{
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}


.spacer{
    margin-right: var(--d-spacing);
}

.cards{
    border-bottom: 1px solid var(--green5);
    margin-bottom: 20px;
    padding-bottom: 8px;
}

.cards:last-child{
    border-bottom: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
}