.button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100% !important;
    @media (--desktop) {
        margin-top: var(--xxxl-spacing);
        display: flex;
        justify-content: center;
        width: auto !important;
        bottom: none !important;
        left: none !important;
        position: relative !important;
    }

}

:global(.tox-tinymce) {
    border-radius: var(--border-radius) !important;
}

.dummy {
    border: 1px solid #ccc;
    height: 40vh;
    border-radius: 10px;
    padding: 16px;
    font-size: var(--d-font-size);
}

.padding {
    padding: var(--m-spacing) !important;
}

.editor {

}