.textColor {
    margin-top: var(--l-spacing);
    background: var(--primaryOpacityTwo);
    border-radius: var(--border-radius);
    padding: var(--l-spacing) var(--m-spacing);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .title {
        color: var(--black);
        font-weight: var(--semi-bold);
        font-size: var(--d-font-size);
    }

    .colorBox {
        box-shadow: 0 2px 15px var(--black10);
        border-radius: var(--border-radius);
        width: 28px;
        height: 28px;
        margin-right: var(--l-spacing);
    }
}

.imgA {
    margin-right: var(--s-spacing);
}

.imgC {
    margin-left: var(--s-spacing);
}

.containerI {
    background: #FAFAFA;
    margin-top: var(--l-spacing);
    border-radius: 5px;
    height: 130px;
    padding: var(--l-spacing) var(--m-spacing);

}

.titleI {
    font-size: var(--d-font-size);
    font-weight: 500;
}

.imgContainer {
    background: var(--primary);
    height: 50px;
    margin: var(--l-spacing) 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.imgS {
    display: flex;
    justify-content: flex-end;
}

.imgE {
    margin-left: var(--m-spacing);
}

.input {
    display: none;
}
