.textColor {
    margin-top: var(--l-spacing);
    background: var(--primaryOpacityTwo);
    border-radius: var(--border-radius);
    padding: var(--l-spacing) var(--m-spacing);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .title {
        color: var(--black);
        font-weight: var(--semi-bold);
        font-size: var(--d-font-size);
    }

    .colorBox {
        box-shadow: 0 2px 15px var(--black10);
        border-radius: var(--border-radius);
        width: 28px;
        height: 28px;
        margin-right: var(--l-spacing);
    }
}

.tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    padding: var(--xs-spacing);
    margin-top: var(--xl-spacing);
}

.tab {
    font-size: var(--m-font-size);
    color: var(--black60);
    padding: var(--s-spacing);
    border-radius: var(--border-radius);
    &.active {
        color: var(--white);
        background: var(--primary);
    }
}

.titleH {
    font-size: var(--d-font-size);
    font-weight: var(--semi-bold);
    margin: var(--xl-spacing) 0 0;
}

.imgA {
    margin-right: var(--s-spacing);
}