.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    background: var(--primaryOpacityTwo);
}

.label {
    font-size: var(--d-font-size);
    font-weight: var(--medium-bold);
    color: var(--black60);
    padding-left: var(--m-spacing);
}

.body {
    border-bottom: 1px solid var(--black10);
}
