.slug {
    position: relative;
    font-size: var(--d-font-size) !important;
    height: 36px !important;
    padding: 4px !important;
    border-radius: 4px !important;
    text-transform: capitalize !important;
        @media (--desktop) {
        cursor: pointer;
    }
}

.single {
    text-indent: 10px;
}

.input {
    background: #f4f4f4 !important;
    border: none !important;
    border-radius: 6px !important;
    font-weight: var(--medium-bold);
    font-size: var(--d-font-size) !important;
    color: var(--black) !important;
    @media (--desktop) {
        cursor: pointer;
    }
}

.right {
    background: var(--grey6) !important;
    padding: 0 8px !important;
    margin-bottom: 8px !important;
}

.input *:before, .input *:after {
    border: none !important;
    @media (--desktop) {
        cursor: pointer;
    }
}

.icon {
        @media (--desktop) {
        cursor: pointer;
    }
}

.heading {
    font-size: var(--h5-font-size);
    margin: 12px 0;
}

.paper {
    border-radius: var(--l-spacing) var(--l-spacing) 0px 0px !important;
    overflow: visible !important;
}
