.mainContainer {
    padding: var(--l-spacing);
    padding-top: var(--xl-spacing);
    padding-bottom: var(--xxxl-spacing);
    height: calc(100vh - 59px - 52px);
    width: calc(100% - 32px);
    overflow-y: auto;
    position: relative;
}

.previewCard {
   padding: var(--l-spacing);
   border-radius: var(--border-radius);
   width: calc(100% - 32px);
   height: auto;
   max-height: calc(100% - 32px);
   box-shadow: 0px 4px 20px rgb(0 0 0 / 8%);
   overflow-y: auto;
   overflow-x: hidden;

   @media (--desktop) {
      margin-top: var(--xl-spacing);
      background: var(--secondary);
      max-height: calc(100vh - 228px);
   }
}

.previewHeader {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.previewHeadTitle {
   font-size: var(--h5-font-size);
   font-weight: var(--semi-bold);
}

.editor {
   border: 1px solid var(--black10);
   padding: 8px 12px;
   margin-bottom: var(--xxxl-spacing);
   color: var(--black70);
   border-radius: 6px;

   @media (--desktop) {
      margin-bottom: 8px;
   }
 }

 .shopTerms {
    padding: 30px 0px 16px 0px;
    font-weight: var(--semi-bold);
    font-size: var(--d-font-size);
 }

 .deleteIcon {
    display: flex;
    padding-top: var(--xxl-spacing);
    padding-bottom: var(--l-spacing);
    float: right;
 }

 .deleteText {
    color:var(--red1);
    padding-left: var(--s-spacing);
    padding-top: var(--xs-spacing);
    font-size: var(--m-font-size);
    font-weight: var(--normal);
 }

 .addIcon {
     display: flex;
     align-items: center;
     margin: var(--xxl-spacing) 0;
 }

 .addIconText {
    color: #00B2FF;
    padding-left: var(--m-spacing);
    font-size: var(--m-font-size);
 }

 .previewHead {
   margin-top: var(--xxl-spacing);
   font-weight: var(--semi-bold);
   font-size: var(--d-font-size);
   margin-bottom: var(--l-spacing);
   @media (--desktop) {
      margin-top: 40px;
      margin-bottom: var(--xxl-spacing);
      font-size:18px;
   }
 }

 .tncPreview {
    color: var(--black70);
    font-size: var(--d-font-size);
    position: relative;
    padding-bottom: var(--xl-spacing);

    &::before {
      content: '';
      height: 8px;
      width: 8px;
      border-radius: 50%;
      position: absolute;
      background: var(--black50);
      display: block;
      left: -16px;
      top: 4px;
   }
 }

 .tncPreviewUl {
    padding: 0 var(--l-spacing);
    list-style-type: none;
 }

 :global(.tox-tinymce) {
   border: none !important;
}

:global(.tox-edit-area__iframe) {
   background-color: transparent !important;
}

.button {
   display: flex;
   align-items: center;
   position: fixed !important;
   bottom: 0 !important;
   left: 0px !important;
   width: 100% !important;

   @media (--desktop) {
      position: relative !important;
   }
}

.desktopContainer {
   padding: 20px 40px;
   background: var(--grey6);
   height: calc(100vh - 90px - 40px);
   overflow-y: auto;
}

.maintitle {
   display: flex;
   align-items: center;
   font-size: var(--h4-font-size);
   color: var(--black60);
}

.backIconForDesktop {
   cursor: pointer;
   padding:14px;
   background: #FFFFFF;
   box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
   border-radius: 4px;
}

.desktopBox{
   width: 80%;
   margin-left: auto;
   margin-right: auto;
   margin-top: 40px;
   background:var(--secondary);
   border-radius: 5px;
   padding-top: 30px;
   padding-bottom: 30px;
}

.desktopBox2{
   width: 70%;
   margin-left: auto;
   margin-right: auto;
   padding:20px;
   border: 1px solid rgba(33, 33, 33, 0.1);
   box-sizing: border-box;
   border-radius: 6px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.sidebarDiv{
height: calc(100vh - 500px);
}

.editIcon{
   float: right;
}

.customBody {
   padding: var(--l-spacing) var(--m-spacing);
   height: calc(100vh - 110px - 16px);
}
