.container {
    margin: var(--xl-spacing) var(--l-spacing);

    @media (--desktop) {
        border: 1px solid var(--black15);
        border-radius: var(--border-radius);
        padding: var(--xxxl-spacing);
        margin: 30px 60px;
    }
}

.addIconText {
    color: var(--black);
    padding-left: var(--s-spacing);
    font-weight: var(--medium-bold);
    font-size: var(--d-font-size);
}

.addButton {
    display: flex;
    background: #FFFFFF;
    border: 1px solid #F4F4F4;
    box-sizing: border-box;
    border-radius: 6px;
    width: 100%;
    padding: 18px 16px;
    background: var(--primaryOpacityTwo);
}


.buttonForm {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100% !important;

    @media (--desktop) {
        position: inherit !important;
    }
}

.subSectionForm {
    margin-top: var(--l-spacing);
    padding: var(--m-spacing);
}

.cardContainer {
    background: var(--primaryOpacityTwo);
    border: 1px solid rgba(33, 33, 33, 0.1);
    border-radius: 5px;
    padding: var(--m-spacing);
    margin: 0 var(--l-spacing);
    margin-top: var(--l-spacing) !important;

    &:first-child {
        marging-top: 0 !important;
    }

    &:last-child {
        margin-bottom: var(--xxl-spacing);
    }
}

.taxTitle {
    font-weight: 600;
    font-size: var(--d-font-size);
    /* margin-bottom: var(--m-spacing); */
}

.taxId {
    font-weight: 500;
    font-size: var(--m-font-size);
    margin-bottom: var(--m-spacing);
}

.taxNumber {
    font-weight: 500;
    font-size: var(--d-font-size);
    margin-bottom: var(--m-spacing);
    color: var(--black60) !important;
}

.imgContainer {
    display: flex;
    justify-content: flex-end;
}

.tImg {
    margin-right: var(--l-spacing) !important;
}

.lineH {
    height: 1px;
    margin: var(--m-spacing) 0;
    background-color: rgba(33, 33, 33, 0.15);
}


.right {
    margin-right: var(--l-spacing);
}

.taxCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
