.drawer {
    padding: var(--l-spacing);
    height: calc(100vh - 32px - 59px);
    overflow: hidden;
}

.section {
    height: calc(100vh - 160px);
    overflow-y: auto;
}

.label {
    font-size: var(--h5-font-size);
    font-weight: var(--medium-bold);
    padding-bottom: var(--xs-spacing);
    padding-top: var(--xl-spacing);
    color: var(--black);
}

.label1 {
    font-size: var(--h5-font-size);
    font-weight: var(--semi-bold);
    padding-bottom: var(--xs-spacing);
    padding-top: var(--xl-spacing);
    color: var(--black);
}

.country {
    font-size: var(--d-font-size);
    color: var(--black70);
    padding: var(--l-spacing) 0;
    border-bottom: 1px solid var(--black10);
    justify-content: space-between;
    display: flex;
}

.search {
    box-sizing: border-box;
    background-color: var(--black10);
}

.button {
    bottom: 0;
    position: sticky;
    height: 52px !important;
}
