.drawer {
    height: 100vh;
    padding: 16px;
}

.paper {
    height: 100% !important;
    width: 100%;
}

.slugSec {
    background: var(--light-blue) !important;
    border: 1px solid #989595 !important;
    border-radius: 4px !important;
    box-sizing: border-box;
    width: 100%;
    margin: var(--xs-spacing) 0 !important;
}

.slugSec *:before, .slugSec *:after {
    border: none !important;
}

.slugSec .MuiInput-formControl {
    margin-top: 0 !important;
}

.slug {
    position: relative;
    background: #F7FAFD !important;
    font-size: var(--d-font-size) !important;
    text-transform: capitalize;
    height: 36px !important;
    padding: 4px !important;
    border-radius: 4px !important;
}

.single {
    text-indent: 10px;
}

.content {
    margin: 0 !important;
    font-size: var(--h5-font-size) !important;
    color: white !important;
    padding: 12px 8px !important;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--light-blue);
    height: calc(100vh - 100px);
    overflow: auto;
}

.select {
    width: 100%;

    :global(.react-select__control) {
        background: var(--white);
        border: none;
    }

    :global(.react-select__menu) {
        z-index: 2;
        top: 45px;
    }

    :global(.react-select__option) {
        background: transparent;
        color: var(--black);
        text-transform: capitalize;
        height: 35px;
    }

    :global(.react-select__option--is-focused) {
        background: var(--yellow);
        color: var(--black);
        height: 35px;
    }
}

