.container {
    display: flex;
    flex-direction: row;
    border-radius: var(--s-border-radius);
    color: var(--black);
    flex: 1;
    background: var(--secondary);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
}

.leftTitle {
    background: var(--primary);
    writing-mode: tb-rl;
    font-weight: var(--medium-bold);
    color: var(--secondary);
    transform: rotate(180deg);
    text-align: center;
    text-transform: capitalize;
    font-size: var(--d-font-size);
    padding: var(--s-spacing) var(--m-spacing) var(--s-spacing) var(--xs-spacing);
    border-top-right-radius: var(--s-border-radius);
    border-bottom-right-radius: var(--s-border-radius);
    position: relative;
    @media (--desktop) {
        padding: var(--xxxxxl-spacing) var(--m-spacing) var(--xxxxxl-spacing) var(--m-spacing);
        font-size:14px;
    }
}

.right {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.top, .bottom {
    padding: var(--s-spacing) var(--m-spacing);
    display: flex;
    flex-direction: row;
    @media (--desktop) {
        padding: var(--s-spacing) var(--m-spacing);
    }
}

.money {
    font-size: var(--h5-font-size);
    font-weight: var(--semi-bold);
    @media (--desktop) {
        font-size:16px;
    }
}


.code {
    text-align: right;
    font-size: var(--h4-font-size);
    font-weight: var(--semi-bold);
    flex: 1;
    color: var(--green);
    text-transform: uppercase;
}

.dashedBorder {
    background-image: linear-gradient(to right, transparent 50%, var(--black) 50%);
    background-size: 16px 100%;
    height: 1px;
    @media (--desktop) {
        margin-bottom:10px;
    }
}

.pen {
    margin-left: var(--xl-spacing);
}

.leftCircle {
    display: flex;
    height: inherit;
    position: relative;
    width: 16px;
    z-index: 1;
    flex-direction: column;
    justify-content: center;
    margin-left: -16px;
    padding: 0;
}

.leftCircle div {
    position: relative;
    display: block;
    background: white;
    width: 16px;
    height: 16px;
    left: 8px;
    z-index: 1;
    border-radius: 100%;
    clip-path: inset(0 0 0 50%);
}

.expiry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: var(--s-spacing);
    @media (--desktop) {
        font-size:14px;
    }
}

.expiry span {
    font-size: var(--s-font-size);
    color: var(--black70);
    font-weight: var(--medium-bold);
}

.expiry div {
    font-size: var(--s-font-size);
}

.bottomRight {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.radio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: var(--xl-spacing);
}

.radio span {
    font-size: var(--xs-font-size);
    color: var(--black50);
    text-transform: capitalize;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 var(--l-spacing);
    @media (--desktop) {
        margin-top: 10px;
        margin-bottom:20px;
        height: 166px;
        cursor: pointer;
    }
}

.shareIcon {
    cursor: pointer;
}
.copyIcon {
    cursor: pointer;
    margin-left: var(--m-spacing);
}

.shareContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 var(--m-spacing);
    padding-bottom: var(--xs-spacing);
}

.shareContainer div {
    text-align: center;
}

.expiredText {
    color: var(--black60);
    padding-top: var(--xs-spacing);
    @media (--desktop) {
        font-size:12px;
    }
}

.share > div {
    font-size: var(--xs-font-size);
    color: var(--green);
    display: flex;
    align-items: center;
}

.share {
    display: flex;
}

.sharetext {
    padding-left: var(--s-spacing);
    @media (--desktop) {
        font-size:14px;
    }
}
.copytext {
    color: var(--black60) !important;
    padding-left: var(--xs-spacing);
    @media (--desktop) {
        font-size:14px;
    }
}

.ball1 {
    height: 17px;
    width: 17px;
    position: absolute;
    background: var(--secondary2);
    right: -8.5px;
    bottom: calc(50% - 8.5px);
    border-radius: 50%;
}
