.footerSection {
    position: fixed;
    bottom: 0;
    z-index: 999;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: var(--xs-spacing) 0;
    border-top-left-radius: var(--xl-border-radius);
    border-top-right-radius: var(--xl-border-radius);
    font-size: var(--m-font-size);
    background: linear-gradient(93.47deg, var(--secondary) 0%, var(--grey12) 52.86%);
    box-shadow: 0 0 var(--d-spacing) rgba(0, 0, 0, 0.1);
}

.width {
    text-transform: capitalize !important;
}
